extends ../layout

block content
	.alert.container.alert-danger.hidden(id="usereditAlert")
		i.fa.fa-exclamation-circle
		span.ml10=msg
	.container
		h1.page-header 회원 수정
		
		form.big-input-style(id="usereditForm", action="/admin/usereditAction?_method=PUT", method='POST')
			input(type="hidden", name="fromPage", value="#{fromPage}")
			input(type="hidden", name="user_id", value="#{user.id}")
			.form-group.row
				.col-md-2
					label(for='name') 이름
				.col-md-10
					input.form-control(id="name", name="name", value="#{user.name}")
			.form-group.row
				.col-md-2
					label 이메일
				.col-md-10
					input.form-control(id="email", name="email", value="#{user.email}")
			.form-group.row
				.col-md-2
					label(for='password') 비밀번호
				.col-md-10
					input.form-control(type="password", id="password", name="password", placeholder='비밀번호', required, autofocus)
			.form-group.row
				.col-md-2
					label(for='password_confirmation') 비밀번호 확인
				.col-md-10
					input.form-control(type="password", id="password_confirmation", name="password_confirmation", placeholder='비밀번호 확인', required, autofocus)
			if user.facebook.id
				.form-group.row
					.col-md-2
						label 페이스북 정보
					.col-md-10
						img.img-circle(src='#{user.facebook.photo}')

			.form-group.row.pl15.pr15
				button.btn.btn-success.btn-lg.btn-block.useValidate(type="button", data-validate-mode='useredit') 수정완료