extends ../layout

block content
	block adduserModal
		include adduserModal
	
	.container
		h1.page-header 회원 목록
		
		| 전체회원수 #{pagination.allDataCount}
		.table-responsive
			table.table.table-bordered.table-striped.table-hover
				thead
					tr
						th 이름
						th 이메일
						th 이메일 인증여부
						th 페이스북 연동여부
						th 가입일
						th 추가작업
				tbody
					each user in users
						tr
							th= user.name
							th= user.email
							th= (user.signupVerify) ? "O" : "X"
							th= (user.facebook.id) ? "O" : "X"
							th= moment(user.createdAt).format('YYYY-MM-DD HH:mm:ss')
							th
								a.btn.btn-xs.btn-default(href='/admin/useredit/id/#{user.id}/page/#{pagination.currentPage}') 정보수정
								a.btn.btn-xs.btn-default.userDeleteBtn(data-id=user.id) 삭제
		a.btn.btn-primary(href="#", data-toggle="modal", data-target="#adduserModal") 회원 추가
		form#userDeleteForm(style='display:none', method="POST")
		
		block inviteModal
			include ../includes/pagination