.modal.fade(tabindex="-1", role="dialog", aria-labelledby="forgotPasswordLabel", aria-hidden="true", id="forgotPasswordModal")
	.modal-dialog.modal-sm
		.modal-content.text-center
			.modal-header
				.modal-header-title
					button.close(type="button", data-dismiss="modal" aria-label="Close")
						span(aria-hidden="true")
							i.fa.fa-times
					h4.modal-title(id="forgotPasswordModalLabel") 비밀번호 변경하기
				.alert.alert-danger.hidden.modal-alert(id="forgotPasswordAlert")
					i.fa.fa-exclamation-circle
					span.ml10
			.modal-body
				form.form-login.big-input-style(action='/users/forgotPasswordEmailSend', method='POST', id='forgotPasswordForm')
					.form-group.text-left
						span 회원님의 계정과 연계된 이메일 주소를 입력하시면, 비밀번호 재설정 링크를 전송해 드립니다.
					.form-group
						input.form-control(type="email", id="email", name="email", placeholder="이메일 주소", required, autofocus)
					.form-group
						button.btn.btn-success.btn-lg.btn-block.useValidate(type="button", data-validate-mode='forgotPassword') 재설정 링크 전송하기