block forgotPasswordModal
	include forgotPasswordModal
	
.modal.fade(tabindex="-1", role="dialog", aria-labelledby="loginModalLabel", aria-hidden="true", id="loginModal")
	.modal-dialog.modal-sm
		.modal-content.text-center
			.modal-header
				.modal-header-title
					button.close(type="button", data-dismiss="modal" aria-label="Close")
						span(aria-hidden="true")
							i.fa.fa-times
					h4.modal-title(id="loginModalLabel") 로그인
				.alert.alert-danger.hidden.modal-alert
					i.fa.fa-exclamation-circle
					span.ml10
			.modal-body
				a.btn.btn-primary.btn-lg.btn-block.active(href="/auth/facebook", role="button")
					i.fa.fa-facebook
					span.ml10 페이스북 계정으로 로그인
				.hr-separator
					span 또는
					hr
				form.form-login.big-input-style(action='/login', method='POST', id='loginForm')
					.form-group
						input.form-control(type="email", id="email", name="email", placeholder="이메일 주소", required, autofocus)
					.form-group
						input.form-control(type="password", id="password", name="password", placeholder='비밀번호', required, autofocus)
					.form-group
						span
							a(id="forgot-password", href="#") 비밀번호가 생각나지 않으세요?
					.form-group
						button.btn.btn-success.btn-lg.btn-block(type="submit") 로그인