.navbar.navbar-inverse.navbar-fixed-top
	.container
		.navbar-header
			button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href="/")
				img(alt="Brand", src="/images/logo.png")
		#navbar.collapse.navbar-collapse
			ul.nav.navbar-nav
				if (currentUser && currentUser.isAdmin)
					li
						a(href="/admin/userlist") 회원관리
				else
					li
						a(href="/survey/write") 설문 작성
					li
						a(href="/survey/list") 설문 목록
			ul.nav.navbar-nav.navbar-right
				if (currentUser)
					li
						if (!currentUser.isAdmin)
							a(href="/users/mypage") 마이페이지
					li
						a(href="/logout") 로그아웃
				else
					li
						a(href="#", data-toggle="modal", data-target="#signupModal") 회원가입
					li
						a(href="#", data-toggle="modal", data-target="#loginModal") 로그인
						
block loginModal
	include loginModal
block signupModal
	include ../users/signupModal