.modal.fade(tabindex="-1", role="dialog", aria-labelledby="inviteModalLabel", aria-hidden="true", id="inviteModal")
	.modal-dialog.modal-sm
		.modal-content.text-center
			.modal-header
				.modal-header-title
					button.close(type="button", data-dismiss="modal" aria-label="Close")
						span(aria-hidden="true")
							i.fa.fa-times
					h4.modal-title(id="inviteModalLabel") 이메일 초대
				.alert.alert-danger.hidden.modal-alert(id="inviteAlert")
					i.fa.fa-exclamation-circle
					span.ml10
			.modal-body
				.big-input-style
					input.form-control.mb15(type="email", id="email", placeholder="이메일 주소", required, autofocus)
					button.btn.btn-success.btn-lg.btn-block.useValidate(type="button" data-validate-mode="surveyInvite") 초대하기