extends ../layout

block content
	block inviteModal
		include ../survey/inviteModal
	
	.container
		h1.page-header 설문지 목록
		
		| 전체설문수 #{pagination.allDataCount}
		.table-responsive
			table.table.table-bordered.table-striped.table-hover
				thead
					tr
						th 제목
						th 작성일
						th 추가작업
				tbody
					each survey in surveys
						tr
							th= survey.title
							th= moment(survey.createdAt).format('YYYY-MM-DD HH:mm:ss')
							th
								a.btn.btn-xs.btn-default(href='/survey/edit/id/#{survey.id}/page/#{pagination.currentPage}') 상세보기/편집
								a.btn.btn-xs.btn-default(href='#', data-toggle="modal", data-target="#inviteModal" data-id=survey.id id="inviteBtn") 이메일초대
								a.btn.btn-xs.btn-default(href='/survey/result/id/#{survey.id}/page/#{pagination.currentPage}') 설문결과
								a.btn.btn-xs.btn-default.surveyDeleteBtn(data-id=survey.id) 삭제
		a.btn.btn-primary(href='/survey/write') 새 설문 작성
		form#surveyDeleteForm(style='display:none', method="POST")
		
		nav.center
			ul.pagination
				li(class=pagination.firstPage.cls): a(href=pagination.firstPage.url)
					span(aria-hidden="true") &laquo;
				li(class=pagination.prevPage.cls): a(href=pagination.prevPage.url)
					span(aria-hidden="true") &lt;
				each page in pagination.pages
					li(class=page.cls)
						a(href=page.url): span= page.text
				li(class=pagination.nextPage.cls): a(href=pagination.nextPage.url)
					span(aria-hidden="true") &gt;
				li(class=pagination.lastPage.cls): a(href=pagination.lastPage.url)
					span(aria-hidden="true") &raquo;