extends ../layout

block content
	.container
		if isExpire
			h1.center 설문 기간이 지났습니다.
			h3.center 다른 설문에 참여해 주시기 바랍니다.
		else
			if survey
				h1= survey.title
				h4.page-header= survey.explain
				
				form.big-input-style(id='responseWriteForm', action="/survey/responseAction/id/#{survey.id}", method='POST')
					each question, index_q in survey.question
						- indispensable = question.indispensable=="true" ? 'required' : null;
						.form-group.panel.panel-default.question(id="question#{index_q+1}", data-question-idx="#{index_q+1}")
							.panel-heading 
								h4.panel-title.inline 질문#{index_q+1}) #{question.name}
									if indispensable
										span.indispensable *필수항목
									input(name="questionIdx", type="hidden", value="#{index_q+1}")
							.panel-body
								.form-group.row
									.col-md-12.question-detail(id="question#{index_q+1}_detail")
										if question.kind == 1
											each multiple, index_m in question.multiple
												if multiple.kind == 0
													.form-group.row.real-input(data-multiple-idx="#{index_m+1}")
														.col-md-3
															input.init-input-style(type="radio" id="question#{index_q+1}_multiple#{index_m+1}_radio" name="question#{index_q+1}_answer" value="#{index_m+1}" required=indispensable)
															label.font-default(for='question#{index_q+1}_multiple#{index_m+1}_radio') #{multiple.name}
														.col-md-9
												if multiple.kind == 1
													.form-group.row.etc-input(class=(question.multiple[question.multiple.length-1].kind == 1) ? "" : "hidden")
														.col-md-4
															input.init-input-style(type="radio" id="question#{index_q+1}_multiple#{index_m+1}_radio" name="question#{index_q+1}_answer" value="#{index_m+1}" required=indispensable)
															label.font-default(for='question#{index_q+1}_multiple#{index_m+1}_radio') #{multiple.name} : 
																input.form-control.form-control-70(name="question#{index_q+1}_answer")
														.col-md-8
										else if question.kind == 2
											.form-group.row
												.col-md-3
												.col-md-7
													input.form-control.form-control-70(name="question#{index_q+1}_answer" required=indispensable)
												.col-md-2
										else if question.kind == 3
											.form-group.row
												.col-md-3
												.col-md-7
													textarea.form-control(name="question#{index_q+1}_answer" required=indispensable)
												.col-md-2
										else if question.kind == 4
											.form-group.row
												.col-md-3
												.col-md-7
													input.form-control.form-control-70(type="date" min="1900-01-01" max="2099-12-31" step=1 value="2015-01-01" name="question#{index_q+1}_answer" required=indispensable)
												.col-md-2
													
					.form-group.row.pl15.pr15
						button.btn.btn-success.btn-lg.btn-block(type="submit") 설문완료
			else
				h1.center 응답이 완료 되었습니다.
				h3.center 설문에 참여해 주셔서 감사합니다.