extends ../layout

block content
	.container
		h1 #{survey.title} > 설문결과 
		if survey.useDate
			h4 #{survey.startDate} ~ #{survey.endDate}
		h4.page-header 전체 응답자 수 : #{response.length}
		
		form.big-input-style(id='responseWriteForm', action="/survey/responseAction/id/#{survey.id}", method='POST')
			each question, index_q in survey.question
				- indispensable = question.indispensable=="true" ? 'required' : null;
				.form-group.panel.panel-default.question(id="question#{index_q+1}", data-question-idx="#{index_q+1}")
					.panel-heading 
						h4.panel-title.inline 질문#{index_q+1}) #{question.name}
							if indispensable
								span.indispensable *필수항목
							input(name="questionIdx", type="hidden", value="#{index_q+1}")
					.panel-body
						.form-group.row
								.col-md-12.question-detail(id="question#{index_q+1}_detail")
									if question.kind == 1
										.col-md-3
											-var countArr = []
											each multiple, index_m in question.multiple
												-var count = 0
												-var etcArr = []
													each res in response
														if res.answer[index_q].master == (index_m+1)
															-count++
														if res.answer[index_q].master == question.multiple.length
															-etcArr[etcArr.length] = res.answer[index_q].slave 
												if multiple.kind == 0
													.form-group.row.real-input(data-multiple-idx="#{index_m+1}")
														span.customTooltip #{multiple.name} : #{count}명
												if multiple.kind == 1
													.form-group.row.etc-input(class=(question.multiple[question.multiple.length-1].kind == 1) ? "" : "hidden")
														span.customTooltip(title="#{etcArr}") #{multiple.name} : #{count}명
												-countArr[index_m] = count
										.col-md-9
											table.highchart(data-graph-container-before="1" data-graph-type="column")
												thead
													tr
														th 선택지
														th 응답수
												tbody
													each chartCount, index_chart in countArr
														tr
															td #{question.multiple[index_chart].name}
															td #{chartCount}
					
									else
										.form-group.row
											.col-md-12
												ul
													each res in response
														if res.answer[index_q].master != ""
															li #{res.answer[index_q].master}
											
			.form-group.row.pl15.pr15
				a.btn.btn-info(href='/survey/list/page/#{fromPage}') 목록으로