extends ../layout

block content
	.container
		if survey
			h1.page-header 설문지 수정
		else
			h1.page-header 설문지 작성
		
		form.big-input-style(id='surveyWriteForm', action=(survey) ? "/survey/editAction/id/#{survey.id}?_method=PUT" : "/survey/writeAction", method='POST')
			input(type="hidden", name="fromPage", value="#{fromPage}")
			.form-group.row
				.col-md-2
					label(for='title') 제목
				.col-md-10
					input.form-control(name="title", value=(survey) ? "#{survey.title}" : "설문지 - 제목없음")
			.form-group.row
				.col-md-2
					label(for='explain') 설문지 설명
				.col-md-10
					input.form-control(name="explain" value=(survey) ? "#{survey.explain}" : "")
			.form-group.row
				.col-md-2
					label(for='name') 설문 기간
					br
					- useDateChecked = survey && survey.useDate ? 'checked' : null;
					- useDateReadOnly = useDateChecked == null ? true : false;
					input.init-input-style(type="checkbox" id="useDate" name='useDate' checked=useDateChecked)
					label.font-default(for='useDate') 사용
				.col-md-5.col-xs-6.center
					| 시작
					input.form-control.questionDate(type="date" name="startDate" min="1900-01-01" max="2099-12-31" step=1 value=(survey && survey.startDate) ? "#{moment(survey.startDate).format('YYYY-MM-DD')}" : "2015-01-01" readonly=useDateReadOnly)
				.col-md-5.col-xs-6.center
					| 종료
					input.form-control.questionDate(type="date" name="endDate" min="1900-01-01" max="2099-12-31" step=1 value=(survey && survey.endDate) ? "#{moment(survey.endDate).format('YYYY-MM-DD')}" : "2015-01-01" readonly=useDateReadOnly)
			if survey
				each question, index_q in survey.question
					.form-group.panel.panel-default.question(id="question#{index_q+1}", data-question-idx="#{index_q+1}")
						.panel-heading 
							h4.panel-title.inline 질문 설정
								input(name="questionIdx", type="hidden", value="#{index_q+1}")
							button.close.question-close(type="button" data-question-idx="#{index_q+1}")
								span(aria-hidden="true")
									i.fa.fa-times
						.panel-body
							.form-group.row
								.col-md-12
									- indispensable = question.indispensable=="true" ? 'checked' : null;
									input.init-input-style.questionIndispensable(type="checkbox" id="questionIndispensable#{index_q+1}" checked=indispensable)
									input(type="hidden" name="questionIndispensable" value="#{question.indispensable}")
									label(for='questionIndispensable#{index_q+1}') 필수 질문
							.form-group.row
								.col-md-2
									label(for='questionName') 질문 제목
								.col-md-10
									input.form-control(name="questionName", value="#{question.name}")
							.form-group.row
								.col-md-2
									label(for='questionKind') 질문 유형
								.col-md-10
									select.form-control.questionKind(name="questionKind", data-style="btn-primary" data-question-idx="#{index_q+1}")
										- opt1 = question.kind==1 ? 'selected' : null;
										- opt2 = question.kind==2 ? 'selected' : null; 
										- opt3 = question.kind==3 ? 'selected' : null; 
										- opt4 = question.kind==4 ? 'selected' : null;
										option(value="1" selected=opt1) 객관식
										option(value="2" selected=opt2) 단일입력(1줄 text)
										option(value="3" selected=opt3) 의견(long text)
										option(value="4" selected=opt4) 날짜
							.form-group.row
								.col-md-12.question-detail(id="question#{index_q+1}_detail")
									if question.kind == 1
										each multiple, index_m in question.multiple
											if multiple.kind == 0
												.form-group.row.real-input(id="question#{index_q+1}_multiple#{index_m+1}" data-multiple-idx="#{index_m+1}")
													.col-md-3
													.col-md-7
														input.form-control.form-control-70(name="question#{index_q+1}_multiple" value="#{multiple.name}")
														if (question.multiple[index_m+1] && question.multiple[index_m+1].kind==0) || question.multiple.length > 2
															span.fa-stack.fa-lg.question_multiple_delete_btn(data-question-idx="#{index_q+1}" data-multiple-idx="#{index_m+1}")
																i.fa.fa-circle.fa-stack-2x.cursor-pointer.hidden
																i.fa.fa-times.fa-stack-1x.focus-inverse
													.col-md-2
												
										.form-group.row
											.col-md-3
											.col-md-7
												input.form-control.form-control-70.cursor-pointer.question_multiple_add_btn(value="선택지를 추가하려면 클릭", readonly)
												span.etc-btn(class=(question.multiple[question.multiple.length-1].kind == 1) ? "hidden" : "")  또는 
													a.cursor-pointer(data-question-idx="#{index_q+1}") '기타' 추가
											.col-md-2

										.form-group.row.etc-input(class=(question.multiple[question.multiple.length-1].kind == 1) ? "" : "hidden")
											.col-md-3
											.col-md-7
												input.form-control.form-control-70(name="question#{index_q+1}_multiple_etc" value="기타 : (답변)", readonly)
												span.fa-stack.fa-lg.question_etc_delete_btn(data-question-idx="#{index_q+1}")
													i.fa.fa-circle.fa-stack-2x.cursor-pointer.hidden
													i.fa.fa-times.fa-stack-1x.focus-inverse
											.col-md-2
									else if question.kind == 2
										.form-group.row
											.col-md-3
											.col-md-7
												input.form-control.form-control-70.dashed(value="답변" readonly="readonly")
											.col-md-2
									else if question.kind == 3
										.form-group.row
											.col-md-3
											.col-md-7
												textarea.form-control.dashed(readonly="readonly") 자세한 답변
											.col-md-2
									else if question.kind == 4
										.form-group.row
											.col-md-3
											.col-md-7
												input.form-control.form-control-70.dashed(type="date" min="1900-01-01" max="2099-12-31" step=1 value="2015-01-01" readonly="readonly")
											.col-md-2
											
			else
				.form-group.panel.panel-default.question(id="question1", data-question-idx="1")
					.panel-heading 
						h4.panel-title.inline 질문 설정
							input(name="questionIdx", type="hidden", value="1")
						button.close.question-close(type="button" data-question-idx="1")
							span(aria-hidden="true")
								i.fa.fa-times
					.panel-body
						.form-group.row
							.col-md-12
								input.init-input-style.questionIndispensable(type="checkbox" id="questionIndispensable1")
								input(type="hidden" name="questionIndispensable" value="false")
								label(for='questionIndispensable1') 필수 질문
						.form-group.row
							.col-md-2
								label(for='questionName') 질문 제목
							.col-md-10
								input.form-control(name="questionName", value="제목없는 질문")
						.form-group.row
							.col-md-2
								label(for='questionKind') 질문 유형
							.col-md-10
								select.form-control.questionKind(name="questionKind", data-style="btn-primary" data-question-idx="1")
									option(value="1" selected) 객관식
									option(value="2") 단일입력(1줄 text)
									option(value="3") 의견(long text)
									option(value="4") 날짜
						.form-group.row
							.col-md-12.question-detail(id="question1_detail")
								.form-group.row.real-input(id="question1_multiple1" data-multiple-idx="1")
									.col-md-3
									.col-md-7
										input.form-control.form-control-70(name="question1_multiple" value="선택지")
									.col-md-2
									
								.form-group.row
									.col-md-3
									.col-md-7
										input.form-control.form-control-70.cursor-pointer.question_multiple_add_btn(value="선택지를 추가하려면 클릭", readonly)
										span.etc-btn  또는 
											a.cursor-pointer(data-question-idx="1") '기타' 추가
									.col-md-2
								.form-group.row.hidden.etc-input
									.col-md-3
									.col-md-7
										input.form-control.form-control-70(name="" value="기타 : (답변)", readonly)
										span.fa-stack.fa-lg.question_etc_delete_btn(data-question-idx="1")
											i.fa.fa-circle.fa-stack-2x.cursor-pointer.hidden
											i.fa.fa-times.fa-stack-1x.focus-inverse
									.col-md-2
						
			.form-group.row.pl15.pr15
				button.btn.btn-default.btn-lg.btn-block(id="addQuestion", type="button") 새로운 질문 추가
			.form-group.row.pl15.pr15
				button.btn.btn-success.btn-lg.btn-block(type="submit") 작성완료