doctype html
html(lang="ko")
	head
		meta(http-equiv="Content-Type", content="text/html", charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no")
		title= title
		link(rel="shortcut icon", href="/images/favicon.ico", type="image/x-icon")
		link(rel="icon", href="/images/favicon.ico", type="image/x-icon")
		link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap-theme.css")
		link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.css")
		link(rel="stylesheet", href="/bower_components/font-awesome/css/font-awesome.min.css")
		link(rel="stylesheet", href="/stylesheets/style.css")
		script(type="text/javascript", src="/bower_components/jquery/dist/jquery.js")
		script(type="text/javascript", src="/bower_components/bootstrap/dist/js/bootstrap.js")
		script(type="text/javascript", src="/javascripts/highcharts.js")
		script(type="text/javascript", src="/javascripts/jquery.highchartTable2.0.0.js")
		script(type="text/javascript", src="/javascripts/common.js")
		script(type="text/javascript", src="/javascripts/form_validate.js")
		script(type="text/javascript", src="/javascripts/survey.js")
		if (currentUser && currentUser.isAdmin)
			script(type="text/javascript", src="/javascripts/admin.js")
		else if(currentUser && !currentUser.isAdmin)
			script(type="text/javascript", src="/javascripts/user.js")
		
	body.mt50.pb70
		if deleteNav
		else
			block top-nav
				include ./includes/topnav
		block main-alert
			include ./includes/mainAlert
		block content
		block footer
			include ./includes/footer
