.contents
	.logo.text-center
		img(alt="Brand", src="http://#{host}/images/logo.png")
	.wrap
		.contents-header.text-center
			span
				h2 가입을 환영합니다!
		.contents-body
			span
				| #{name}님은 최근에 Star Survey 아이디를 만드셨습니다.
				| Star Survey 아이디는 #{email}입니다.
				| 이메일 주소를 인증하고 가입을 완료 하시려면 다음 버튼을 클릭하십시오.
		.text-center
			a.btn.btn-info.active(href="http://#{host}/users/signupVerify/code/#{userID}/email/#{email}", role="button")
				span  이메일 주소 확인