@import '../../../bower_components/bootstrap/dist/css/bootstrap.min';

.logo{margin-bottom:30px;}
.contents{background-color:#222; padding: 20px 0 20px 0;font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 14px; color: #333;}
.contents-header{margin-bottom: 25px;}
.contents-body{padding: 0 20px 0 20px;margin-bottom: 40px;}
.contents-body span{white-space:pre; line-height:200%;}
.wrap{width: 540px; margin: 0; margin-right: auto; margin-left: auto; padding: 20px 0 30px 0; background: white; border: 1px solid #dddddd;}