.modal-header{padding:0;}
.modal-title{line-height: 3.0;}
.modal-alert{margin:0;}

.form-control-70{width:70%; display:inline;}
label.font-default{font-weight: normal;}

.alert-error{color: #a94442; background-color: #f2dede; border-color: #ebccd1; background-image: linear-gradient(to bottom, #f2dede 0%, #e7c3c3 100%);}