/* hr + span 사용하여 분리할 때 사용(ex. 로그인->또는) */
.hr-separator{background: none;height: 34px;position: relative;text-align: center;}
.hr-separator span{background-color: #fff;display: inline-block;padding: 6px;}
.hr-separator hr{margin: -16px auto 10px auto;width: 90%; border:1px solid #dce0e0;}

/* 로그인 폼 */
.form-login{margin-top:20px;}

#forgot-password{color:red;}

/* 모달 공통 */
.modal-header-title{background-color:#dce0e0; height: 50px;}

/* 설문응답 필수 항목 표시 */
span.indispensable{color: red; font-size: small; margin-left: 5px;}

#adduserForm input[type="radio"]{display: inline; width: 10%; vertical-align: middle;}