@import url('layout.css');
@import url('customize_bootstrap.css');
/*
@import url('responsive_layout.css');
*/

body{word-break: break-word;}

.mt50{margin-top: 50px;}
.ml10{margin-left: 10px;}
.mb15{margin-bottom: 15px;}

.pr15{padding-right: 15px;}
.pb70{padding-bottom: 70px;}
.pl15{padding-left: 15px;}

.right{float:right;}

/* input요소 크기 설정 */
.big-input-style input{height:46px;}
.big-input-style input[type=radio]{height:18px;}

.init-input-style{height: initial !important;}

/* focus강조(input) */
.focus{border-color: #ffb400; background-color: #fff8e5;}

/* 마우스 모양 */
.cursor-pointer{cursor: pointer;}

.dashed{border-style: dashed;}

.center{text-align:center;}
.inline{display:inline;}

table.highchart{display:none;}

.text-left{text-align:left;}