.contents
	.logo.text-center
		img(alt="Brand", src="http://#{host}/images/logo.png")
	.wrap
		.contents-header.text-center
			span
				h2 비밀번호 재설정
		.contents-body
			span
				| #{name}님 안녕하세요.
				br
				| 비밀번호 재설정 요청을 받았습니다. 비밀번호 재설정을 요청하지 않으신 경우, 본 이메일을 무시하십시오. 만약 그렇지 않으면 다음 링크에서 비밀번호를 재설정 할 수 있습니다:
		.text-center
			a.btn.btn-info.active(href="http://#{host}/users/resetPassword/id/#{user_id}", role="button")
				span  비밀번호 재설정하기