extends ../layout

block content
	.alert.container.alert-danger.hidden(id="mypageAlert")
		i.fa.fa-exclamation-circle
		span.ml10=msg
	.container
		h1.page-header 마이 페이지
			a.btn.btn-warning.right.userDeleteBtn 회원탈퇴
			form#userDeleteForm(style='display:none', method="POST")
		
		form.big-input-style(id="mypageForm", action="/users/editAction?_method=PUT", method='POST')
			.form-group.row
				.col-md-2
					label(for='name') 이름
				.col-md-10
					input.form-control(id="name", name="name", value="#{user.name}")
			.form-group.row
				.col-md-2
					label 이메일
				.col-md-10
					span= user.email
			.form-group.row
				.col-md-2
					label(for='password') 비밀번호
				.col-md-10
					input.form-control(type="password", id="password", name="password", placeholder='비밀번호', required, autofocus)
			.form-group.row
				.col-md-2
					label(for='password_confirmation') 비밀번호 확인
				.col-md-10
					input.form-control(type="password", id="password_confirmation", name="password_confirmation", placeholder='비밀번호 확인', required, autofocus)
			if user.facebook.id
				.form-group.row
					.col-md-2
						label 페이스북 정보
					.col-md-10
						img.img-circle(src='#{user.facebook.photo}')

			.form-group.row.pl15.pr15
				button.btn.btn-success.btn-lg.btn-block.useValidate(type="button", data-validate-mode='mypage') 수정완료