extends ../layout

block content
	.alert.container.alert-danger.hidden(id="resetPasswordAlert")
		i.fa.fa-exclamation-circle
		span.ml10=msg
	.container
		h1.page-header 비밀번호 재설정
		
		form.big-input-style(id="resetPasswordForm", action="/users/resetPasswordAction?_method=PUT", method='POST')
			input(type="hidden", name="user_id", value="#{user_id}")
			.form-group.row
				.col-md-2
					label(for='password') 비밀번호
				.col-md-10
					input.form-control(type="password", id="password", name="password", placeholder='새 비밀번호', required, autofocus)
			.form-group.row
				.col-md-2
					label(for='password_confirmation') 비밀번호 확인
				.col-md-10
					input.form-control(type="password", id="password_confirmation", name="password_confirmation", placeholder='비밀번호 확인', required, autofocus)

			.form-group.row.pl15.pr15
				button.btn.btn-success.btn-lg.btn-block.useValidate(type="button", data-validate-mode='resetPassword') 저장하기