.modal.fade(tabindex="-1", role="dialog", aria-labelledby="signupModalLabel", aria-hidden="true", id="signupModal")
	.modal-dialog.modal-sm
		.modal-content.text-center
			.modal-header
				.modal-header-title
					button.close(type="button", data-dismiss="modal" aria-label="Close")
						span(aria-hidden="true")
							i.fa.fa-times
					h4.modal-title(id="signupModalLabel") 회원가입
				.alert.alert-danger.hidden.modal-alert(id="signupAlert")
					i.fa.fa-exclamation-circle
					span.ml10
			.modal-body.text-center
				form.big-input-style(action='/users/signup', method='POST', id='signupForm')
					.form-group
						label.sr-only(for="email") 이메일 주소
						input.form-control(type="email", id="email", name="email", placeholder="이메일 주소", required, autofocus)
					.form-group
						label.sr-only(for="name") 이름
						input.form-control(type="text", id="name", name="name", placeholder="이름", required, autofocus)
					.form-group
						label.sr-only(for="password") 비밀번호
						input.form-control(type="password", id="password", name="password", placeholder='비밀번호', required, autofocus)
					.form-group
						label.sr-only(for="password_confirmation") 비밀번호 확인
						input.form-control(type="password", id="password_confirmation", name="password_confirmation", placeholder='비밀번호 확인', required, autofocus)
					.form-group
						button.btn.btn-success.btn-lg.btn-block.useValidate(type="button", data-validate-mode='signup') 회원가입