.contents
	.logo.text-center
		img(alt="Brand", src="http://#{host}/images/logo.png")
	.wrap
		.contents-header.text-center
			span
				h2 설문에 초대되었습니다!
		.contents-body
			span
				| #{email_from}님이 #{email}님을 설문에 초대하셨습니다.
				| 설문에 참여하시려면 다음 버튼을 클릭하십시오.
		.text-center
			a.btn.btn-info.active(href="http://#{host}/survey/response/id/#{survey_id}", role="button")
				span  설문시작